*{
  margin: 0;
  padding: 0;
}
.wrap-ncv{
  width: 100%;
  background-color:#fafafa;
  border-top: 2px solid #f32613;
}
.breadcrumb{
  width: 1200px;
  height: 20px;
  list-style: none;
  margin: 0 auto;
  padding: 10px 0;
}
.breadcrumb li{
  float:left;
  color: #999;
  font-size:12px;
}
.breadcrumb li span{
  margin: 0 5px;
}
.breadcrumb li a{
  float:left;
  text-decoration: none;
  color: #575757;
}
.breadcrumb li a:hover{
  color: #f00;
}
.breadcrumb li img{
  width: 12px;
  float:left;
  margin:3px 3px  0 2px;
}